{% extends 'base.html' %}
{% block navegacao %}
  <ul>
    <li><a href="{{ url_for('index') }}">Início</a></li>
    <li><a href="{{ url_for('cdb.index') }}">Copa do Brasil 2022</a></li>
    <li class="is-active"><a href="#">Sorteio</a></li>
  </ul>
{% endblock %}
{% block content %}

<div class="tile is-ancestor">
    <div class="tile is-vertical is-parent">
        <div class="tile is-child box">
            <div class="card">
                <div class="card-content">
                    <table class="table">
                        {% for partida in partidas %}
                        <tr>
                            <td>
                                <img src="{{ url_for('static', filename = 'images/' + partida.mandante.imagem) }}" width="40">
                                {{ partida.mandante.nome }}
                            </td>
                            <td>
                                <img src="{{ url_for('static', filename = 'images/' + partida.visitante.imagem) }}" width="40">
                                {{ partida.visitante.nome }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
