{% extends 'base.html' %}
{% block navegacao %}
  <ul>
    <li><a href="{{ url_for('index') }}">Início</a></li>
    <li class="is-active"><a href="#" aria-current="page">Copa Sul-Americana 2022</a></li>
  </ul>
{% endblock %}
{% block content %}
<div class="card">
    <header class="card-header">
        <p class="card-header-title">Pote 1</p>
    </header>
    <div class="card-content">
        <ul>
            {% for time in pote1 %}
            <li>
                <img src="{{ url_for('static', filename = 'images/' + time.imagem) }}" width="40">
                {{ time.nome }}
                {% if 'LDU' in time.nome or 'Junior' in time.nome %}
                 (* Caso se classifique)
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="card">
    <header class="card-header">
        <p class="card-header-title">Pote 2</p>
    </header>
    <div class="card-content">
        <ul>
            {% for time in pote2 %}
            <li>
                <img src="{{ url_for('static', filename = 'images/' + time.imagem) }}" width="40">
                {{ time.nome }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="card">
    <header class="card-header">
        <p class="card-header-title">Pote 3</p>
    </header>
    <div class="card-content">
        <ul>
            {% for time in pote3 %}
            <li>
                <img src="{{ url_for('static', filename = 'images/' + time.imagem) }}" width="40">
                {{ time.nome }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="card">
    <header class="card-header">
        <p class="card-header-title">Pote 4</p>
    </header>
    <div class="card-content">
        <ul>
            {% for time in pote4 %}
            <li>
                <img src="{{ url_for('static', filename = 'images/' + time.imagem) }}" width="40">
                {{ time.nome }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
