<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sorteio de Fases de Grupo de Torneios de Futebol</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
  </head>
  <body>
    <section class="hero is-info" id="header">
      <div class="hero-body">
        <p class="title">
          Sorteio de Fases de Grupo de Torneios de Futebol
        </p>
        <p class="subtitle">
          {{ titulo }}
        </p>
      </div>
    </section>
    <section class="section">
      <div class="container">
          <nav class="breadcrumb" aria-label="breadcrumbs">
              {% block navegacao %}{% endblock %}
          </nav>
          {% block content %}{% endblock %}
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Simula Grupos</strong> by <a href="https://github.com/Cleedee">Cláudio Torcato</a>.
        </p>
        <p>
            <small>
                    <a href="https://www.freepik.com/vectors/background">Imagem de fundo criado por pikisuperstar - www.freepik.com</a>
            </small>
        </p>
      </div>
    </footer>
    <script>
	  ((window.gitter = {}).chat = {}).options = {
	    room: 'Cleedee/sorteio-grupos'
	  };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
  </body>
</html>
