{% extends 'base.html' %}
{% block navegacao %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="#" class="is-active">Início</a></li>
  </ul>
</nav>
{% endblock %}
{% block content %}

<ul>
    <li><a href="{{ url_for('liberta.sortear') }}">Copa Libertadores 2025</a></li>
    <li><a href="{{ url_for('sula.index') }}">Copa Sul-Americana 2022</a></li>
    <li><a href="{{ url_for('cdb.index') }}">Copa do Brasil 2022</a></li>
    <li><a href="{{ url_for('cdb.sorteio_oitavas') }}">Oitavas Copa do Brasil 2022</a></li>
    <li><a href="{{ url_for('cdb.sorteio_quartas') }}">Quartas-de-final Copa do Brasil 2022</a></li>
</ul>

{% endblock %}
