{% extends 'base.html' %}
{% block content %}
    <h1 class="title">
        Libertadores da América 2022
    </h1>
    <p class="subtitle">
        Simulador de Sorteio dos Grupos
    </p>
    <h2>1º Sorteio</h2>
    <table class="table is-bordered">
        <thead>
            <tr>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
                <th>F</th>
                <th>G</th>
                <th>H</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(4) %}
            <tr>
                {% for letra in 'ABCDEFGH' %}
                <td> <img src="{{ url_for('static', filename = 'images/' + sorteios[0][letra][i].imagem) }}" width="40"><small>{{ sorteios[0][letra][i].nome }}({{ sorteios[0][letra][i].pais }})</small></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>2º Sorteio</h2>
    <table class="table is-bordered">
        <thead>
            <tr>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
                <th>F</th>
                <th>G</th>
                <th>H</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(4) %}
            <tr>
                {% for letra in 'ABCDEFGH' %}
                <td> <img src="{{ url_for('static', filename = 'images/' + sorteios[1][letra][i].imagem) }}" width="40"><small>{{ sorteios[1][letra][i].nome }}({{ sorteios[1][letra][i].pais }})</small></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h2>3º Sorteio</h2>
    <table class="table is-bordered">
        <thead>
            <tr>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
                <th>F</th>
                <th>G</th>
                <th>H</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(4) %}
            <tr>
                {% for letra in 'ABCDEFGH' %}
                <td> <img src="{{ url_for('static', filename = 'images/' + sorteios[2][letra][i].imagem) }}" width="40"><small>{{ sorteios[2][letra][i].nome }}({{ sorteios[2][letra][i].pais }})</small></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}